* {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 10px;
    padding: 10px;
}

.wrapper .login-content {
}

.login-content .login-panel {
    max-width: 906px;
    margin: 10px auto;
    position: relative;
}

.login-panel .camera-image {
}
.login-panel .login-form {

}

.wrapper .login-footer {
    margin: 10px auto;
    max-width: 1150px;
    display: flex;
}

.wrapper .login-footer .login-footer-nav {
    flex: 2;
}

.wrapper .login-footer .login-footer-nav ul li {
    display : inline-block;
    padding: 1em 5px;
    font-family: sans-serif;
    color: dodgerblue;
    font-weight: 700;
    font-size: .7em;
}

.login-footer-copyright {
    flex: 1;
    color: #8e8e8e;
    font-weight: 700;
    font-size: .9em;
    text-align: right;
}


.ig-slider {
    position: absolute;
    top: 15%;
    left: 16.4%;
}

.ig-slider img {
    width: 245px;
}

