* {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 10px;
    padding: 10px;
}

.wrapper .login-content {
}

.login-content .login-panel {
}

.login-panel .camera-image {
}
.login-panel .login-form {

}

.wrapper .login-footer {
    margin: 1vw 2vh;
}

.wrapper .login-footer .login-footer-nav ul li {
    display : inline-block;
    padding: 1em 5px;
    font-family: sans-serif;
    color: dodgerblue;
    font-weight: 700;
    font-size: .9em;
}


