/* @kapawit */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
}

hr {
    border-top: 1px solid#d3d3d3;
}

.profile-wrapper {
    height: auto;
    width: 100%;
    background-color: #fafafa;
    font-family: 'Open Sans', sans-serif;
}

/* top nav */
nav {
    z-index: 1;
    width: 100%;
    height: 55px;
    position: fixed;
    background-color: white;
    border-bottom: 1px solid #d3d3d3;
}

.topnav {
    display: flex;
    margin: 15px 13% 0;
    padding: 0px 30px 0;
}

.topnav .nav-brand {
    left: 0;
    height: 100%;
}

.nav-brand .brand {
    zoom: 0.6;
    width: 181px;
    height: 52px;
    display: inline-block;
    background: url('./instagram-assets/profile/ig-sprite.png') 0px -180px;
}

.topnav .nav-search {
    position: fixed;
    left: 42%;
}

.nav-search input {
    height: 25px;
    width: 210px;
    border: #d3d3d3 solid 1px;
    background-color: #fafafa;

}

.nav-search input::-webkit-input-placeholder {
    text-align: center;
}

.topnav .nav-icon {
    position: fixed;
    left: 70%;
}

.nav-icon a {
    width: 23px;
    height: 23px;
    list-style: none;
    position: absolute;
    background: url('./instagram-assets/profile/ig-sprite.png') no-repeat;
}

#home {
    left: 0px;
    background-position: 1px -450px;
}

#inbox {
    left: 45px;
    background-position: -21px -450px;
}

#explore {
    left: 90px;
    background-position: -45px -452px;
}

#activity {
    left: 135px;
    background-position: -68px -451px;
}

#profile {
    left: 180px;
    background-position: -94px -452px;
}


.profile-wrapper .profile-content {
    margin: 0 13% 0;
    padding: 90px 20px 0;

}

.profile-content .profile {
    display: flex;
}

.profile .profile-pic {
    width: 200px;
    margin-left: 100px;
}

.profile img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    float: left;
}

.profile .profile-detail {
    height: 200px;
}

.profile-detail .profile-id {
    height: 50px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    align-content: center;
}

.profile-id .verified {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    background: url(./instagram-assets/profile/ig-sprite.png) no-repeat 0 0;
    background-position: 0px -416px;
}

#btnprofile {
    width: 100px;
    height: 20px;
    padding: 10px;
    color: black;
    margin-left: 20px;
    border-radius: 5px;
    border: #dbdbdb solid 1px;
    text-decoration: none;
}

#btnsetting {
    width: 25px;
    height: 30px;
    margin-left: 20px;
    background: url('./instagram-assets/profile/ig-sprite.png') no-repeat 0 0;
    background-position: -117px -448px;
}

.profile-detail .profile-stat {
    height: 50px;
    width: 100%;
    text-align: center;
    display: inline-flex;
    align-items: center;
    align-content: center;
}

.profile-detail .profile-stat a {
    margin: 0px 50px 0 0px;
    text-decoration: none;
    font-size: 1rem;
    color: black;
}

.profile-detail .profile-desc {
    width: 100%;
    height: 100px;
}

.profile-wrapper .profile-highlight {
    height: 100px;
    width: 100%;
    display: inline-flex;
    margin-bottom: 60px;
}

.profile-highlight li {
    list-style: none;
    text-align: center;
    margin: 0px 20px 0px;
}

.profile-highlight img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.profile-wrapper .profile-tab {
    height: 40px;
}

.profile-tab .menu-tab {
    height: auto;
    width: 50%;
    margin: 0px auto 0px auto;
    display: flex;
    justify-content: center;
}


.menu-tab a {
    display: inline-flex;
    padding-top: 10px;
    padding-left: 5px;
    text-align: center;
}



.menu-tab a {
    border: none;
    width: 70px;
    height: 20px;
    padding: 10px;
    color: black;
    margin: 0px 20px;
    text-decoration: none;

}

.menu-tab a.active {
    border-top: 1px solid black;
}

.menu-tab span {
    zoom: 1.3;
    width: 15px;
    height: 15px;
    display: inline;
    margin-right: 2px;
    background: url('./instagram-assets/profile/ig-sprite.png') no-repeat;
}

#posts {
    background-position: -159px -416px;
}

#igtv {
    background-position: -187px -416px;
}

#saved {
    background-position: -286px -415px;
}

#taged {
    background-position: -216px -416px;
}

.profile-wrapper .profile-galery {
    min-height: 300px;
    width: 100%;
}

.profile-galery ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.profile-galery li {
    width: 31%;
    list-style: none;
    position: relative;
    padding: 10px;
    object-fit: cover;
}

.profile-galery img {
    max-width: 100%;
    max-height: 100%;
}

footer {
    padding: 0px 16px;
    font-size: 12px;
    background: #fafafa;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.profile-footer {
    padding: 20px 0px;
    font-size: small;
}

.profile-footer .footer-container {
    display: flex;
    justify-content: center;
    color: #8e8e8e;
}

.footer-container li {
    margin: 0 8px 12px 8px;
    list-style: none;
}

.footer-container a {
    text-decoration: none;
    color: #8e8e8e;
}

.profile-footer .footer-language {
    border: none;
    color: #8e8e8e;
}

.profile-footer .footer-copyright {
    margin-left: 20px;
}